@import "_settings";

.axis {
  &.x {
    line {
      display : none;
    }

    text {
      text-anchor : "middle";
    }
  }

  &.y {
    .domain {
      display : none;
    }
  }

  line,
  path {
    fill   : none;
    stroke : @tick-color;
  }

  .tick {
    text {
      font-size : @axis-font-size;
      fill      : @tick-color;
    }
  }
}
