@import "_settings";

.axis {
  &.x {
    text {
      text-anchor : "middle";
    }
  }

  &.y {
    .domain {
      display : none;
    }
  }

  line,
  path {
    fill   : none;
    stroke : @tick-color;
  }

  text {
    font-size : @axis-font-size;
    fill      : @tick-color;
  }
}
