@import "_settings";

input[type="text"] {
  background-color : #dee3e5;
  border-radius    : 3px;
  border           : 1px solid #dee3e5;
  padding          : 0.5rem;

  transition : border-color 500ms ease-in-out;

  &:focus {
    border-color : #7a828c;
    outline      : none;
  }
}
